
.elsie {background-color: #006400;color:#fff;}
.leah {background-color: #000;color: #fff;}
.erin {background-color: #0d47a1;color:#F0E68C;}
.sophia {background-color: #4dff4d;color:black;}
.alaina {background-color: yellow;color:black;}
.whitney {background-color: #bbdefb;color:black;}
.brooke {background-color: #85144b;color:#fff;}
.xaelynn {background-color: #FF6EB4;color:black;}
.kylee {background-color: #4a148c;color:#fff;}
.quinn {background-color: #FF4136;color:#fff;}
.ashley {background-color: #FF7F00;color:#fff;}
.claire {background-color: #F0E68C;color:#0d47a1}

.diagram{float:left;width:338px;height:330px;padding-right:10px;}
.diagram{background:rgba(255,255,255,0.75) url(f.jpg) 50% 10px no-repeat}
h2{position:absolute;margin:175px -20px;width:390px;text-align:center;font:36px "arial black"}
.diagram .mylabel{font-weight: bold;position:absolute;display:block;padding:1px 0 1px 2px;width:100px;font-size:120%;text-align:center; border-radius:4px;}
.pitcher{margin:235px 120px}
.catcher{margin:285px 120px}
.first{margin:185px 205px}
.second{margin:145px 175px}
.over{margin:95px 145px}
.short{margin:145px 65px}
.leftcenter{margin:45px 65px}
.rightcenter{margin:45px 185px}
.third{margin:185px 35px}
.center{margin:60px 122px}
.right{margin:105px 220px}
.left{margin:105px 25px}
.sittingBox{display:none;position:absolute;margin:230px 235px;padding:4px;width:90px;background:#eee;border-radius:4px;overflow:hidden;z-index:10}

