md-input-container {
	margin: 2px 2px;
}

md-toolbar {
	background-color: #78BE64;
}

not-playing {
	line-height: 45px;
}

body {
	background-color: #eee;
}

ng-md-icon {
  fill: currentColor;
  vertical-align: middle;
  display: inline-block;
  line-height: 1;
}

md-toolbar .title {
	font-family: 'Crafty Girls';
	font-weight: bold;
	padding-left: 2%;
	font-size: 175%;
	
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}

table.md-table td.md-cell {
	color: inherit;
	font-weight: bold;
}

table.md-table td.md-cell.md-numeric, table.md-table th.md-column.md-numeric {
	text-align: left;
}

.error-row {
	font-size: 7pt;
}

.md-select-value {
	max-width: 30px;
}

table.md-table td.md-cell md-select>.md-select-value>span.md-select-icon {
	color: inherit;
}


table.md-table tbody.md-body>tr.md-row, table.md-table tfoot.md-foot>tr.md-row {
	height: 38px;
}
